<footer class="text-muted bg-info">
  <div class="container" style="margin-top:90px">
    <div class="row">

      <div class="col-md-5 col-md-6 mb-4">
        <br/>
        <h5 class="text-dark">Modern Kazakh production</h5>
      </div>
      <hr class="clearfix w-80 d-md-none pb-2">
      <div class="col-md-2 mb-md-0 mb-2">

        <ul class="list-unstyled">
        <br/>
          <li>
            <a href="https://www.instagram.com/qazaq.republic/?hl=ru" class="text-light">Instagram</a>
          </li>
          <li>
            <a href="https://ru-ru.facebook.com/qazaq.republic.brand/" class="text-light">Facebook</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <br/>
        <ul class="list-unstyled">
          <li>
            <a href="https://vk.com/wall-186724220?own=1" class="text-light">VK</a>
          </li>
          <li>
            <a href="https://www.tiktok.com/@qazaq.republic" class="text-light">Tik Tok</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center text-dark py-3">© Qazaq Republic:
    <a href="https://www.instagram.com/qazaq.republic/?hl=ru" class="text-light">www.qr.com</a>
  </div>
</footer>


