<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2908.330407920298!2d76.89027381522742!3d43.20255877913937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x388368e7cdb5c7ad%3A0xb2fdedda9a35f664!2z0KLQoNCmIE1FR0EgQWxtYS1BdGE!5e0!3m2!1sru!2skz!4v1602346811208!5m2!1sru!2skz" width="1100" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<section class=" text-center text-light bg-dark">
  <div class="container">
    <div class="span4">
      <strong>Meloman Store</strong><br>
      247 Rozibakiyeva<br>
      Almaty, KZ<br>
      000 003 296<br>
      Phone:  8 707 100 20 20
    </div>
  </div>
</section>
