<div class="container marketing">
  <img class="bd-placeholder-img rounded-circle" width="120" height="120"src="assets/image/0.png">
  <img class="bd-placeholder-img rounded-circle" width="120" height="120"src="assets/image/as2.jpg">
  <img class="bd-placeholder-img rounded-circle" width="120" height="120"src="assets/image/as.png">
  <img class="bd-placeholder-img rounded-circle" width="120" height="120"src="assets/image/12.png">
  <img class="bd-placeholder-img rounded-circle" width="120" height="120"src="assets/image/13.png">
  <img class="bd-placeholder-img rounded-circle" width="120" height="120"src="assets/image/14.jpg">
  <img class="bd-placeholder-img rounded-circle" width="120" height="120"src="assets/image/brown.png">
  <img class="bd-placeholder-img rounded-circle" width="120" height="120"src="assets/image/as1.png">
  <img class="bd-placeholder-img rounded-circle" width="120" height="120"src="assets/image/black.png">
</div>
